footer {
    width: 100vw;
    height: 11vh;

    position: fixed;
    bottom: 0;
    left: 0;

    z-index: -1;

    background-color: red
}

footer button {

    margin: 0 0.5vw;

    transition: all 0.3s ease-in-out;
    cursor: pointer;

}

.botão-footer:hover {
    transform: scale(1.3);
}