#imagem-principal{
    width: 40vw;
    height: 80vh;

    position: absolute;
    top: 19vh;
    left: 15vw;

    background-color:red(93, 93, 215);
}

#informacoes{
    width: 30vw;
    height: 60vh;

    position: absolute;
    top: 28vh;
    left: 56vw;

    background-color:black(22, 22, 64);
}
animation:coringa batendo palma 10s forwards;
    animation-interation-count: infinite;

   @keyframes coringa batendo palma{
    0%{
        transform: scale(0.01)
    }
    80%
    transform: scale(7)
    }
    100%{
        transform: scale(10)
    }
